* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --bg-color-header: #000;
    --bg-color-area-one: #B28756;
    --bg-color-area-two: #FFFFFF;
    --bg-color-area-three:#333;
    --bg-color-area-four: #F7F7F7F7;
    --bg-color-area-five:#000;
    --bg-color-area-six:#999;
    --bg-color-area-seven: #EEE;

    --color-area: #CCC;
    --color-area-text-one:#FFFFFF;
    --color-area-text-two:#B28756;
    --color-area-text-four: #000;
    --color-area-text-five:#999;
    --color-area-text-six: #555;

    --border-color-one:#B28756;
    --border-color-two:#000;
    --border-color-three: #333;
    --border-color-four: #999;
    --border-color-five: #CCC;
    --border-color-six: #EEE;

    --box-shadow-color-one: #333;
}


body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size: 13px;
}

header {
    height: 100px;
    background: var(--bg-color-header);
    color: var(--color-area-text-one);
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.logoimg{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: var(--bg-color-area-one);
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: var(--color-area-text-one);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left:10px ;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--border-color-two);
}

.menu li a:hover, .menu .active a{
    border-bottom: 5px solid var(--border-color-one);
    color: var(--color-area);
}

.button{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--bg-color-area-one);
    color: var(--color-area-text-one);
}

.banner{
    height: calc(100vh - 100px);
    background: var(--bg-color-area-three);
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
}

.banner .slidearea{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-area-text-one);
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span{
    color: var(--color-area-text-two);
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}


.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    margin-top: -50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius:8px ;
    border: 2px solid var(--border-color-one);
}

.banner .pointer.active{
    background: var(--bg-color-area-one);
}

.default{
    padding: 50px 0px;
}

.default .section-title, .default .section-desc{
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: var(--color-area);
}

.default .section-body{
    max-width: 1140px;
    margin: auto;
}

.default.light{
    background: var(--bg-color-area-four);
}

.default.light .section-title, .default.light .section-body{
    color: var(--color-area-text-four);
}

.default.dark{
    background: var(--bg-color-area-five);
}

.default.dark .section-title, .default.dark .section-body{
    color: var(--color-area-text-one);
}


/* 
espacifese css area  
*/

.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
}

.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right{
    width: 520px;
    text-align: center;
}

.section-aboutus--right img{
    width: 480px;
    box-shadow: 0 5px 10px var(--box-shadow-color-one);
}

.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    padding: 15px;
    text-align: center;
    border-right:1px solid var(--border-color-three);
}

.section-service:first-child{
    border-left:1px solid var(--border-color-three);
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: var(--color-area-text-five);
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid var(--border-color-five);
    background: var(--bg-color-area-seven);
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul, .section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    color: var(--color-area-text-six);
    border-left: 1px solid var(--border-color-five);
    border-bottom: 3px solid var(--border-color-six);
    cursor: pointer;
}

.section-projects--filters li:hover, .section-projects--filters li.active{
    border-bottom: 3px solid var(--border-color-one);
}

.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    width: 260px;
    height: 160px;
    margin: 10px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    width: inherit;
    height: inherit;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-area-text-one);
    background: rgba(0, 0, 0, 0.5);
}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}